<body style="margin-top: 1vmin;"> 
    <div style="height:48vmin; width:100vmin;"></div>
</body>
<br>
<h2 style= "margin-top: 10px;" class="titles">About WECCA</h2>
<p text-align: right>Founded in 2007, the Western Engineering Concrete Canoe Association (WECCA) annually competes at the Canadian National Concrete Canoe Competition. 
    A team of Western University students come together to design, test, and cast a concrete canoe to be raced at the end of the school year. 
    WECCA is continuously working to improve canoe design and performance to achieve future success. Canoe floats our boats, what floats yours?
</p>

<hr>

<h2 class="titles">Announcements</h2>
<p>- Come to the paddling workout on January 3rd at ____  pm EST!</p>
<p>- Announcement 2</p>
<p>- Announcement 3</p>

<hr>

<h2 class='titles'>Contact Us</h2>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNn1YAkuz-HVpITjA2h31XQ6NSRSDR7kwDKwpe-ypvKTtang/viewform?embedded=true" width="50%" height="570" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNn1YAkuz-HVpITjA2h31XQ6NSRSDR7kwDKwpe-ypvKTtang/viewform?embedded=true" width="50%" height="570" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<br><br>