button {
    background-color: #ffffff;
    border-color: rgb(138, 43, 226);
    border-radius:14px;
    color:  rgb(138, 43, 226);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 45%;
    margin-right:40%;
}
h2{
    border: none;
    color: black;
    text-align: center;
}

p{
    text-align: center;
    font-size: 2.5vmin;
    margin-top: 1vmin;
    margin-bottom: 0vmin;
    padding: 35px;
    padding-left: 200px;
    padding-right: 200px;

}
li{
    font-size: 3vmin;
    margin-top: 0vmin;
    margin-bottom: 2vmin;
}
ul{
    display: inline;
    text-align: center;
    margin-top: -1vmin; 
    margin-bottom: -1vmin;
} 
.wecca-members{
    display: block;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.titles {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0vmin;
    font-weight: bold;
    font-size: 4vmin;
  }
hr{
    width:70%;
    height: 1px;
    color:rgb(138, 43, 226); 
    background-color: rgb(138, 43, 226);
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}


