button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat';
}
h3{
    
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Montserrat';
    
}
body{
    background-image: url(../../assets/images/weccamainpage.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 0% 0%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
