<header>
  <div class="container">
    <!--changed to top bar-->
    <img src="assets/images/wecca-logo-black.png" alt="logo-black" class="logo-black">

    <nav>
      <ul class="list-unstyled">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <li><a mat-button [routerLink]="''"> Wecca </a></li>
        <li><a mat-button [routerLink]="'calendar'"> Calendar</a></li>
        <li><a mat-button [routerLink]="'executives'"> Executives</a></li>
        <li><a mat-button [routerLink]="'sponsorship'"> Sponsors </a></li>
        
        <li>
          <a href="https://www.instagram.com/wecca.uwo/" class="fa fa-instagram"></a>
        </li>
        <li>
          <a href="https://www.facebook.com/wecca.uwo/" class="fa fa-facebook"></a>
      </ul>
    </nav>

  </div>
</header>


<div class="main">

  <router-outlet></router-outlet>

</div>