

<div class="sidenav">
  <a mat-button [routerLink] = "''"> Wecca </a>
  <a mat-button [routerLink]="'calendar'"> Calendar</a>
  <a mat-button [routerLink]="'executives'"> Executives</a>
  <a mat-button [routerLink]="'sponsorship'"> Sponsors </a>
  
  <ul class="list-unstyled">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <li>
      <a href="https://www.instagram.com/wecca.uwo/" class="fa fa-instagram"></a>
    </li>
    <li>
      <a href="https://www.facebook.com/wecca.uwo/" class="fa fa-facebook"></a>
  </ul>
  
</div>


<div class="main">
 
<router-outlet></router-outlet>

</div>
   





