<header>
  <div class="container">
    <!--changed to top bar-->
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-light">
      <div class = "container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a href="#landing" class="navbar-brand"><img src="assets/images/nav-logo.png" alt="WECCA" width="50"></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="navbar-toggler-icon"></i>
          </button>  

          <!-- collapse navbar -->
          <div class="navbar-collapse collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 clearfix">
                  <!--scroll down to page within site-->
                  <li class="nav-item"><a class="nav-link" href="#events" [routerLink]="'calendar'">EVENTS</a></li> 
                  <li class="nav-item"><a class="nav-link" href="#meet-team" [routerLink]="'executives'">ABOUT US</a></li>
                  <li class="nav-item"><a class="nav-link" href="#spon" [routerLink]="'sponsorship'">SPONSORS</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="#newPage" [routerLink]="'newPage'">New Page</a></li> -->
              </ul>
          </div>
      </div>
  </nav>

  </div>
</header>


<div class="main">

  <router-outlet></router-outlet>

</div>