.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;

  }


.fa-instagram {
   background: #125688;
   color: rgb(255, 255, 255);
   padding: 10px;
   font-size: 20px;
   width:15px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
} 
.fa-facebook   {
   background: #3B5998;
   color: white;
   padding: 10px;
   font-size: 20px;
   width: 15px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
}

body {
   font-family: "Lato", sans-serif;
 }
 
 /*.sidenav {
   height: 100%;
   width: 180px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color:rgb(121, 69, 189);
   overflow-x: hidden;
   padding-top: 20px;
   border-radius: 25px;
   border: 2px solid black;

 }
 
 .sidenav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
 }
 
 .sidenav a:hover {
   color: #f1f1f1;
 }*/

 .main {
  /* margin-left: 180px;  Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
  width: 100%;
  margin: auto;
}

 

 header{
  background: rgb(121, 69, 189);
 }

 header::after {
   content : '';
   display: table;
   clear: both;
 }
 
 .logo-black{
   float: left;
   max-width: 6%;
   height: auto;
   padding-left: 100px;
   padding-top: 9px;
   padding-bottom : 10px;
 }

 nav{
  float: right;
}

nav ul {
  margin : 0;
  padding : 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;

  position: relative;
}
 
nav a {
  color:black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover{
  color: white;

}

 
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }


