.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;

  }

  mat-toolbar { background-color: rgb(121, 69, 189); }

footer {
      background-color: rgb(121, 69, 189);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-left: 180px;
       }

mat-toolbar { color: white; }

  

.fa-instagram {
   background: #125688;
   color: white;
   padding: 20px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
} 
.fa-facebook   {
   background: #3B5998;
   color: white;
   padding: 20px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
}

body {
   font-family: "Lato", sans-serif;
 }
 
 .sidenav {
   height: 100%;
   width: 180px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 20px;
 }
 
 .sidenav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
 }
 
 .sidenav a:hover {
   color: #f1f1f1;
 }
 
 .main {
   margin-left: 160px; /* Same as the width of the sidenav */
   font-size: 28px; /* Increased text to enable scrolling */
   padding: 0px 10px;
 }
 
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }


