@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-deep-purple, 200);
$my-app-accent:  mat-palette($mat-grey, 400);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


@include angular-material-theme($my-app-theme);

