.row {
  width: 100%;
  margin: 0 auto;
}

.block {
  width: 100px;
  display: inline-block; 
}​

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }