<!-- <mwl-calendar-month-view [viewDate]="viewDate">
</mwl-calendar-month-view>

<mwl-calendar-week-view [viewDate]="viewDate">
</mwl-calendar-week-view>

<mwl-calendar-day-view [viewDate]="viewDate">
</mwl-calendar-day-view>

-->
<div *ngIf="dataIsAvailable">
  <h1 class="center-sub" style="padding-top: 80px">WECCA Calendar</h1>

  <div class="container">
    <div class="row justify-content-center">
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>

  <div style="height: 10px"></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="font-size: 15px">
    <br />
    <div class="row justify-content-center">
      <div [ngSwitch]="view" style="width: 100%">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          [activeDayIsOpen]="true"
        >
        </mwl-calendar-month-view>

        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (eventClicked)="handleEvent('Clicked', $event.event)"
        >
        </mwl-calendar-week-view>

        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (eventClicked)="handleEvent('Clicked', $event.event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
  <br />

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <h3>
          Edit events
          <button class="btn btn-primary" (click)="addEvent()">Add new</button>
          <div class="clearfix"></div>
        </h3>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Primary color</th>
                <th>Secondary color</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let event of calendarEvents
                    | paginate: { itemsPerPage: 5, currentPage: p };
                  let i = index
                "
              >
                <td>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="event.title"
                    (keyup)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    type="color"
                    [(ngModel)]="event.color.primary"
                    (change)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    type="color"
                    [(ngModel)]="event.color.secondary"
                    (change)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteEvent(event)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="paginator">
          <pagination-controls
            class="paginator"
            (pageChange)="p = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <br /><br />

  <!-- Warren Here -->
  <!--

    Format we want:
        Event Title
        Event Date
        Start - End Time

--></div>
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      -->
    <div>
      Event:
      <!-- <pre>{{ modalData?.event | json }}</pre> -->
      <pre
        >{{ modalData?.event.title }}  {{ "\n" }} {{ modalData?.event.start
        }}{{ " to" }} {{ modalData?.event.end }}</pre
      >
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<!--<div [ngSwitch]="view">

    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-day-view>

</div> -->
