.cal-events {
    display: none !important;

    /* display calendar.events.insert(); */

}

.btn {
    background-color: #420a83;
}
.btn-outline-secondary{
    color: white;
}
.btn:hover{
    background-color: #7b39c5;
}