body.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
} 
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 5px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
  }

  #purple{
    color: purple;
  }

  #bronze{
    color: #b08d57;
  }

  #silver{
    color: #C0C0C0; 
  }

  #gold{
    color: goldenrod;
  }

  .gap-20{
    width: 100%;
    height: 300px;
    }

    .gap-10{
      width: 100%;
      height: 20px;
      }
  
  