<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="text-align:center">
  <h3>WECCA DONORS AND SPONSORS</h3>
  <p style="font-size: 23px">WECCA's Current Donors and Sponsors: </p>
</div>
<div class="gap-10"></div>
<!-- The five columns -->
<div class="row">
  <div class="column">
    <img src="https://uwowecca.files.wordpress.com/2020/08/wbulgeryoung-2.png" alt="Bulger Young" style="width:75%; margin-top:60px" onclick="myFunction(this);">
  </div>
  <div class="column">
    <a href="https://csce.ca/en/">
    <img src="https://uwowecca.files.wordpress.com/2020/08/wcsge-2.png" alt="CSCE" style="width:50%; height:150px; margin-left: 40px;" onclick="myFunction(this);">
    </a>
  </div>
  <div class="column">
    <a href="http://bremor.ca/">
    <img src="https://uwowecca.files.wordpress.com/2020/08/wbremor-1.png" alt="Bremor" style="width:75%; margin-top:60px" onclick="myFunction(this);">
    </a>
  </div>
  <div class="column">
    <a href="http://www.cornerarch.com/">
    <img src="https://uwowecca.files.wordpress.com/2020/08/wcornerstone-1.png" alt="Cornerstone" style="width:75%; margin-top:60px; margin-left: 10px;" onclick="myFunction(this);">
    </a>
  </div>
<div class="column">
  <a href= "http://www.norliteagg.com/production/">
  <img src="https://uwowecca.files.wordpress.com/2020/08/wnorlite.jpg" alt="Norlite" style="width:100%; margin-top:10px" onclick="myFunction(this);">
  </a>
  </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<hr style = "width:70%; height: 5px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">
<div class="gap-15"></div>

<div style ="border-style: solid">
    <h3 id = "center"><u>Sponsorship Package</u></h3>

<h4 id ="purple"><u>PURPLE Sponsors - $500-649</u></h4>
<ul>
  <li>Logo on team competition T-Shirt</li>
  <li>Logo and website link on team website</li>
  <li>Recognition on team social media</li>
</ul>

<h4 id ="bronze"><u>BRONZE Sponsors - $650-999</u></h4>
<ul>
  <li>All purple sponsor benefits</li>
  <li>50cmx50cm logo on team trailer</li>
</ul>

<h4 id ="silver"><u>SILVER Sponsors - $1000-1499</u></h4>
<ul>
  <li>All bronze sponsor benefits</li>
  <li>Sponsorship plaque</li>
</ul>

<h4 id ="gold"><u>GOLD Sponsors - $1500+</u></h4>
<ul>
  <li>All silver sponsor benefits</li>
  <li>Canoe and WECCA members available for promotional events (schedule permitting)</li>
</ul>
</div>
<hr style = "width:70%; height: 5px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">
<div id= "bottom"> 
<p>We appreciate any sponsors and donors! Follow this link to support <a href="https://www.westernconnect.ca/site/SPageNavigator/ConcreteCanoe.html;jsessionid=00000000.app20053a?NONCE_TOKEN=7B52498F392D488FE26B5149214DC771" >WECCA</a></p>

<p>Contact Sneha Patel for more information:</p>

<p>Phone: 613-403-2000</p>

<p>Email: <a href="mailto:wecca.sponsorship@gmail.com">wecca.sponsorship@gmail.com</a></p>
<div class="gap-10"></div>
<hr style = "width:70%; height: 5px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">
</div>

</body>
</html>

