  #purple{
    color: rgb(138, 43, 226);
    text-align: center;
  }

  #bronze{
    color: #b08d57;
    text-align: center;
  }

  #silver{
    color: #808080; 
    text-align: center;
  }

  #gold{
    color: goldenrod;
    text-align: center;
  }

  .containe{
    float: left;
    width: 25%;
  }

  .column {
    border: 5px solid rgb(138, 43, 226);
    border-radius: 10px;
  }
  .column2 {
    border: 5px solid #b08d57;
    border-radius: 10px;
  }
  .column3 {
    border: 5px solid	#808080;
    border-radius: 10px;
  }
  .column4 {
    border: 5px solid goldenrod;
    border-radius: 10px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .gap-20{
    width: 100%;
    height: 100px;
    }

  .gap-21{
    width: 100%;
    height: 300px;
    }

  .gap-22{
    width: 100%;
    height: 370px;
      }

  .gap-10{
      width: 100%;
      height: 20px;
      }
  .gap-15{
    width: 100%;
    height: 50px;
  }
  .gap-25{
    width: 100%;
    height: 500px;
  }
  #center{
    text-align: center;
  }
  
  ul {
      text-align: center;
      list-style-position: inside;
      font-size: 23px;
  }
  #bottom{
    text-align: center;
    font-size: 23px;
  }

  .carousel-caption {
    color: black;
  }

  .mySlides1 {
    text-align: center;
    height: 55%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 153px;
    margin-top: 153px;
  }
  .mySlides2 {
    text-align: center;
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mySlides3 {
    text-align: center;
    height: 55%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75.5px;
    margin-top: 75.5px;
  }
  .mySlides4 {
    text-align: center;
    height: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 126px;
    margin-top: 126px;
  }
  .mySlides5 {
    text-align: center;
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
  }
  
  .container{
    box-sizing:border-box;
    padding:0;
    margin:0;
     outline: 0;
  }
  body { 

    font-size:14px;
    padding:14px;
  }
  article {
    width:100%;
    max-width:1750px;
    margin:0 auto;
    height:150px;
    position:relative;
  }
  ul {
    display:flex;
    top:0px;
    z-index:10;
    padding-bottom:14px;
  }
  li {
    list-style:none;
    flex:1;
  }
  li:last-child {
    border-right:1px solid #DDD;
  }
  button {
    width:100%;
    border: 1px solid #DDD;
    border-right:0;
    border-top:0;
    padding: 10px;
    background:#FFF;
    font-size:14px;
    font-weight:bold;
    height:60px;
    color:#999
  }
  li.active button {
    background:#F5F5F5;
    color:#000;
  }
  table { border-collapse:collapse; table-layout:fixed; width:100%; }
  th { background:#F5F5F5; display:none; }
  td, th {
    height:53px
  }
  td,th { border:1px solid #DDD; padding:10px; empty-cells:show; }
  td,th {
    text-align:left;
  }
  td+td, th+th {
    text-align:center;
    display:none;
  }
  td.default {
    display:table-cell;
  }
  .bg-purple {
    border-top:3px solid rgb(138, 43, 226);
    font-size: 18px;
  }

  tr{
    font-size: 18px;
  }

  .bg-bronze {
    border-top:3px solid #b08d57;
    font-size: 18px;
  }
  
  .bg-silver {
    border-top:3px solid #808080;
    font-size: 18px;
  }
  .bg-gold {
    border-top:3px solid goldenrod;
    font-size: 18px;
  }
  
  .sep {
    background:#F5F5F5;
    font-weight:bold;
  }
  .txt-l { font-size:28px; font-weight:bold; }
  .txt-top { position:relative; top:-9px; left:-2px; }
  .tick { font-size:18px; color:#2CA01C; }
  .hide {
    border:0;
    background:none;
  }
  
  @media (min-width: 640px) {
    ul {
      display:none;
    }
    td,th {
      display:table-cell !important;
    }
    td,th {
      width: 330px;
    
    }
    td+td, th+th {
      width: auto;
    }
  }