<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="gap-20"></div>
  <div style="text-align:center">
    <h1> <b>WECCA'S DONORS AND SPONSORS</b></h1>
  </div>
  <div class="gap-10"></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="mySlides1" src="https://uwowecca.files.wordpress.com/2020/08/wbulgeryoung-2.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <a href="https://csce.ca/en/">
          <img class="mySlides2" src="https://uwowecca.files.wordpress.com/2020/08/wcsge-2.png" alt="Second slide">
        </a>
        </div>
        <div class="carousel-item">
          <a href="http://bremor.ca/">
          <img class="mySlides3" src="https://uwowecca.files.wordpress.com/2020/08/wbremor-1.png" alt="Third slide">
          </a>
        </div>
        <div class="carousel-item">
          <a href="http://www.cornerarch.com/">
          <img class="mySlides4" src="https://uwowecca.files.wordpress.com/2020/08/wcornerstone-1.png" alt="Fourth slide">
        </a>
        </div>
        <div class="carousel-item">
          <a href= "http://www.norliteagg.com/production/">
          <img class="mySlides5" src="https://i.imgur.com/9Qlg5EC.png" alt="Fifth slide">
        </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>


<div class="gap-10"></div>
<hr style = "width:70%; height: 3px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">


<div>
  <article>

    <ul>
      <li class="bg-purple">
        <button>Purple</button>
      </li>
      <li class="bg-blue">
        <button>Bronze</button>
      </li>
      <li class="bg-blue active">
        <button>Silver</button>
      </li>
      <li class="bg-blue">
        <button>Gold</button>
      </li>
    </ul>  
    
    <table>
      <thead>
        <tr>
          <th class="hide"></th>
          <th class="bg-purple">Purple Sponsors - $500-649</th>
          <th class="bg-bronze">Bronze Sponsors - $650-999</th>
          <th class="bg-silver default">Silver Sponsors - $1000-1499</th>
          <th class="bg-gold">Gold Sponsors - $1500+</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>Logo on team competition T-Shirt</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Logo and website link on team website</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Recognition on team social media</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>50cmx50cm logo on team trailer</td>
          <td></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Sponsorship plaque</td>
          <td></td>
          <td></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Canoe and WECCA members available for promotional events (schedule permitting)</td>
          <td></td>
          <td></td>
          <td></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
      </tbody>
    </table>
      
    </article> 

</div>
<div class="gap-21"></div>
<div><hr style = "width:70%; height: 3px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">
</div>

<div id= "bottom"> 
<p>We appreciate any sponsors and donors! Follow this link to support <a href="https://www.westernconnect.ca/site/SPageNavigator/ConcreteCanoe.html;jsessionid=00000000.app20053a?NONCE_TOKEN=7B52498F392D488FE26B5149214DC771" >WECCA</a></p>

<p>Contact Sneha Patel for more information:</p>

<p>Phone: 613-403-2000</p>

<p>Email: <a href="mailto:wecca.sponsorship@gmail.com">wecca.sponsorship@gmail.com</a></p>
<div class="gap-10"></div>
<hr style = "width:70%; height: 3px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">
</div>

</body>
</html>

