<body>
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Skye Harris</mat-card-title>
              <mat-card-subtitle>Construction Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/skye.jpg" alt="photo of skye" class="center">
            <mat-card-content>
              <p>
                I provide guidance for some exec positions, make sure we have inventory for the mixes and that we have time allocated for use of the structures lab,
                and make the bridge between industry and the club in order to ensure the canoe is constructed!

              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Rawad Hachicho</mat-card-title>
              <mat-card-subtitle>Logistics Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/rawad.jpg" alt="photo of rawad" class="center">
            <mat-card-content>
              <p>
                My biggest responsibilities include recruitment, running the biweekly meetings, plan the logistics behind wecca going to competition, and basically help anyone in thrive in WECCA to their full extent!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Ian Czajczyc</mat-card-title>
              <mat-card-subtitle>Finance Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/ian.jpg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                I manage WECCA's finances and I fund our events.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Ian Czajczyc</mat-card-title>
              <mat-card-subtitle>Finance Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/ian.jpg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Allie Bachtold</mat-card-title>
              <mat-card-subtitle>Head of Design and Analysis</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/D2990327-96A8-4AC8-A4B2-1D1EDE532A31 - Allie Bachtold.jpeg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                I use solidworks to design this years canoe!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class="center1">
              <mat-card-title>Lauren Andersen</mat-card-title>
              <mat-card-subtitle>Head of Quality Assurance</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/BA3F75BF-E832-44D2-A973-99FC0600F3BF - Lauren Andersen.jpeg" alt="photo of ian" class="center" transform="rotate(180deg)">
            <mat-card-content>
              <p>
                Gather documentation to make the transition between years easier, and generate standards to help the team improve and stay on track.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Andrew Markham</mat-card-title>
              <mat-card-subtitle>Co-Head of Materials</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/30867783-67E7-4A8A-92F5-1A4EC69062C5 - Andrew Markham.jpeg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                Mix concrete and pretend to know what I’m doing!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Mustafa Abdalle</mat-card-title>
              <mat-card-subtitle>Co-Head of Materials</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/20190903_224708 - Mustafa Abdalle.jpg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                Run mixes and test concrete!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Monanshi Shah</mat-card-title>
              <mat-card-subtitle>Co-Head of Software Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/IMG_3562 - Monanshi Shah.jpg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                I developed this website and will be working on an analysis program to help assist the team!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Megan Ginham</mat-card-title>
              <mat-card-subtitle>Co-Head of Software Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/A25A9DB1-A523-4CD0-838D-5E4019A82689 - Megan Ginham.jpeg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                I’ll be building a website and developing some programs to assist our analysis team!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Angelica Tilli</mat-card-title>
              <mat-card-subtitle>Training Coordinator/R&D Head</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/XT3B6494 - Angelica Tilli - Angelica Tilli.jpg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                I make gantt charts and help the paddling team succeed! 
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>David Choi</mat-card-title>
              <mat-card-subtitle>Head of Graphic Design and Theme</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/20190601_115935 - DavidSJ Choi.jpg" alt="photo of ian" class="center">
            <mat-card-content>
              <p>
                I choose the theme for this year and create pretty displays and stands and other stuff for our canoe for the competition based on that theme.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="captain">
          <mat-card-header class=center1>
            <mat-card-title>Will Stevenson</mat-card-title>
            <mat-card-subtitle>Co-Head of Mould</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/execphotos/CDAD91C8-06A2-41DC-B91D-7F95B86A2941 - Will Stevenson.jpeg" alt="photo of ian" class="center">
          <mat-card-content>
            <p>
              I help make the mould of the canoe. I tape and sand a lot of styrofoam.
            </p>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="captain">
        <mat-card-header class=center1>
          <mat-card-title>Brooke Crawford</mat-card-title>
          <mat-card-subtitle>Head of Technical Communications</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/execphotos/brooke.jpg" alt="photo of ian" class="center">
        <mat-card-content>
          <p>
            Running the editing team this year!
          </p>
        </mat-card-content>
      </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>Sneha Patel</mat-card-title>
        <mat-card-subtitle>Head of Technical Presentation</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/IMG_7336 - Sneha Patel.jpeg" alt="photo of ian" class="center">
      <mat-card-content>
        <p>
          Make the final presentation for competition!
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
  </mat-grid-list>
</body>
<footer>

</footer>