 
  mat-card-title {
    text-align: center;

  }
  mat-card-subtitle {
    text-align: center;

  }  
  img {
    border-radius: 50%;
    height: 210px;
    width: 170px;
  }
  p{
    text-align: center;
    font-size: 2vmin;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
  hr{
    width:70%;
    height: 1px;
    color:rgb(138, 43, 226); 
    background-color: rgb(138, 43, 226);
  }
  .align {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .titles {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 5vmin;
  }
  .center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  mat-card {
    width: calc(100% - 70px);
    height: 400px;
    color: black;
  }

  .mat-card {
    padding: 0px;
    background-color: white;

  }

  .gallery {
    display: grid;
    margin: 0vmin;
    row-gap: 10vmin;
    column-gap: 15vmin;
    grid-template-columns: 30vmin 30vmin 30vmin;
    grid-template-rows: 45vmin;
    justify-content: center;
    align-content: space-evenly;
  }

  .gallery__img{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(138, 43, 226);
    float: left;
  }
  
  .text-image {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }

  .subtext {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }

  .name-image {
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  
  .para {
    font-size: 2.5vmin;
    text-align: center;
    justify-content: center;
    margin: auto;
  }


  /*
  div.img {
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    height: 0px;
    width: 0px;
    float: left;
  }
  */