<body>
  <h1 class=titles style="margin-top: 3vmin;">What is WECCA?</h1>
  <p>
    The Western Engineering Concrete Canoe Association, also known as WECCA, is a team of talented and driven 
    students who come together each year to design and build a concrete canoe. Members participate in concrete mix design, 
    mold development, and canoe theme creation. All this culminates in the Canadian National Concrete Canoe Competition where 
    canoes from across the country are showcased and raced. 
  </p>
  <hr>
  <!-- <a routerLink="#mailing">Get Involved</a> -->

  <a id="mailing" name = "mailing" class="titles" style="font-weight: bold; font-size: 5vmin;">Get Involved!</a>
  <p class="para">Join our mailing list to learn more about the team, be reminded <br> when executive applications are released, and more!</p>
  <br>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfAhUEsZXuzODvFPsFJ_TORCHdrVK9Aj5osvyYXLS38__DvZQ/viewform?embedded=true" width="640" height="500" frameborder="0" marginheight="0" marginwidth="0" class="center1">Loading…</iframe>
  <br><br>
  <hr>
  <br>

  <a class="titles" style="font-weight: bold; font-size: 5vmin;">Meet the Team</a>
  <p>Click us to find out more!</p>

  <div class="gallery">
    <figure class="gallery__item" id="will">
      <img src="assets/execphotos/will.png" alt="photo of will" class="gallery__img" id="will-img" (click)='changeText($event, "will", "will-info1")'>
      <div class="name-image"> 
        Will Stevenson
      </div>
      <a class="text-image">
        Construction Captain <br> wecca.construction@gmail.com
      </a>
      <a id="will-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/megan.jpg" alt="photo of megan" class="gallery__img" (click)='changeText($event, "megan", "megan-info1")'>
      <div class="name-image"> 
        Megan Ginham 
      </div>
      <div class="text-image">
        Logistics Captain <br> wecca.logistics@gmail.com
      </div>
      <a id="megan-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/sneha.jpg" alt="photo of sneha" class="gallery__img" (click)='changeText($event, "sneha", "sneha-info1")'>
      <div class="name-image"> 
        Sneha Patel
      </div>
      <div class="text-image">
        Finance Captain <br> wecca.sponsorship@gmail.com
      </div>
      <a id="sneha-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/anuj.png" alt="photo of anuj" class="gallery__img" (click)='changeText($event, "anuj", "anuj-info1")'>
      <div class="name-image"> 
        Anuj Kulkarni
      </div>
      <a class="text-image">
        Co-head of Software Development
      </a>
      <a id="anuj-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/ethan.png" alt="photo of ethan" class="gallery__img" (click)='changeText($event, "ethan", "ethan-info1")'>
      <div class="name-image"> 
        Ethan Bodnar
      </div>
      <div class="text-image">
        Co-head of Software Development
      </div>
      <a id="ethan-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/andrew.jpg" alt="photo of andrew" class="gallery__img" (click)='changeText($event, "andrew", "andrew-info1")'>
      <div class="name-image"> 
        Andrew Markham
      </div>
      <div class="text-image">
        Co-head of Materials
      </div>
      <a id="andrew-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/anthony.png" alt="photo of tony" class="gallery__img" (click)='changeText($event, "tony", "tony-info1")'>
      <div class="name-image"> 
        Anthony De Rango
      </div>
      <div class="text-image">
        Co-head of Materials
      </div>
      <a id="tony-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/lauren.jpg" alt="photo of lauren" class="gallery__img" (click)='changeText($event, "lauren", "lauren-info1")'>
      <div class="name-image"> 
        Lauren Andersen
      </div>
      <div class="text-image">
        Co-head of Mould
      </div>
      <a id="lauren-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/keston.png" alt="photo of keston" class="gallery__img" (click)='changeText($event, "keston", "keston-info1")'>
      <div class="name-image"> 
        Keston Anderson
      </div>
      <div class="text-image">
        Co-head of Mould
      </div>
      <a id="keston-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/liam.jpg" alt="photo of lieam" class="gallery__img" (click)='changeText($event, "liam", "liam-info1")'>
      <div class="name-image"> 
        Liam Israels
      </div>
      <div class="text-image">
        Co-head of Design and Analysis
      </div>
      <a id="liam-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/jen.jpg" alt="photo of jennifer" class="gallery__img" (click)='changeText($event, "jen", "jen-info1")'>
      <div class="name-image"> 
        Jennifer Oliva
      </div>
      <div class="text-image">
        Co-head of Design and Analysis
      </div>
      <a id="jen-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/trevor.png" alt="photo of trevor" class="gallery__img" (click)='changeText($event, "trevor", "trevor-info1")'>
      <div class="name-image"> 
        Trevor Stone
      </div>
      <div class="text-image">
        Co-head of Research and Development
      </div>
      <a id="trevor-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/jericho.png" alt="photo of jericho" class="gallery__img" (click)='changeText($event, "jericho", "jericho-info1")'>
      <div class="name-image"> 
        Jericho Salvador
      </div>
      <div class="text-image">
        Co-head of Research and Development
      </div>
      <a id="jericho-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/kara.png" alt="photo of kara" class="gallery__img" (click)='changeText($event, "kara", "kara-info1")'>
      <div class="name-image"> 
        Kara Bjornson
      </div>
      <div class="text-image">
        Head of Technical Writing
      </div>
      <a id="kara-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/sierra.jpg" alt="photo of sierra" class="gallery__img" (click)='changeText($event, "sierra", "sierra-info1")'>
      <div class="name-image"> 
        Sierra Goss
      </div>
      <div class="text-image">
        Head of Technical Presentation
      </div>
      <a id="sierra-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/sam.png" alt="photo of sam" class="gallery__img" (click)='changeText($event, "sam", "sam-info1")'>
      <div class="name-image"> 
        Sam Goertz
      </div>
      <div class="text-image">
        Training Coordinator
      </div>
      <a id="sam-info1" class="text-image"></a>
    </figure>
    <figure class="gallery__item">
      <img src="assets/execphotos/mac.png" alt="photo of mac" class="gallery__img" (click)='changeText($event, "mac", "mac-info1")'>
      <div class="name-image"> 
        Mac McGauley
      </div>
      <div class="text-image">
        Head of Graphic Design
      </div>
      <a id="mac-info1" class="text-image"></a>
    </figure>
  </div>  

  
  <!--
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Will Stevenson</mat-card-title>
              <mat-card-subtitle>Construction Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/will.png" alt="photo of will" class="center">
            <mat-card-content>
              <p class=align>
                wecca.construction@gmail.com <br>
                I provide guidance for some exec positions, make sure we have inventory for the mixes and that we have time allocated for use of the structures lab,
                and make the bridge between industry and the club in order to ensure the canoe is constructed!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Megan Ginham</mat-card-title>
              <mat-card-subtitle>Logistics Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/megan.jpg" alt="photo of megan" class="center">
            <mat-card-content>
              <p class=align>
                wecca.logistics@gmail.com <br>
                My biggest responsibilities include recruitment, running the biweekly meetings, plan the logistics behind wecca going to competition, and basically help anyone in thrive in WECCA to their full extent!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Sneha Patel</mat-card-title>
              <mat-card-subtitle>Finance Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/sneha.jpg" alt="photo of sneha" class="center">
            <mat-card-content>
              <p class=align>
                wecca.sponsorship@gmail.com <br>
                I manage WECCA's finances and I fund our events.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Anuj Kulkarni</mat-card-title>
              <mat-card-subtitle>Co-head of Software Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/anuj.png" alt="photo of anuj" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Ethan Bodnar</mat-card-title>
              <mat-card-subtitle>Co-head of Software Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/ethan.png" alt="photo of ethan" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class="center1">
              <mat-card-title>Andrew Markham</mat-card-title>
              <mat-card-subtitle>Co-head of Materials</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/andrew.jpg" alt="photo of andrew" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Anthony De Rango</mat-card-title>
              <mat-card-subtitle>Co-head of Materials</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/anthony.png" alt="photo of anthony" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Lauren Andersen</mat-card-title>
              <mat-card-subtitle>Co-head of Mould</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/lauren.jpg" alt="photo of lauren" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Keston Anderson</mat-card-title>
              <mat-card-subtitle>Co-head of Mould</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/keston.png" alt="photo of keston" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Trevor Stone</mat-card-title>
              <mat-card-subtitle>Co-head of Research and Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/trevor.png" alt="photo of trevor" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Jericho Salvador</mat-card-title>
              <mat-card-subtitle>Co-head of Research and Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/jericho.png" alt="photo of jericho" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Kara Bjornson</mat-card-title>
              <mat-card-subtitle>Head of Technical Writing</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/kara.png" alt="photo of kara" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="captain">
          <mat-card-header class=center1>
            <mat-card-title>Sierra Goss</mat-card-title>
            <mat-card-subtitle>Head of Technical Presentation</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/execphotos/sierra.jpg" alt="photo of sierra" class="center">
          <mat-card-content>
            <p class=align>
              Description here...
            </p>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="captain">
        <mat-card-header class=center1>
          <mat-card-title>Sam Goertz</mat-card-title>
          <mat-card-subtitle>Training Coordinator</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/execphotos/sam.png" alt="photo of sam" class="center">
        <mat-card-content>
          <p class=align>
            Description here...
          </p>
        </mat-card-content>
      </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>Mac McGauley</mat-card-title>
        <mat-card-subtitle>Head of Graphic Design</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/mac.png" alt="photo of mac" class="center">
      <mat-card-content>
        <p class=align>
          Description here...
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>Liam Israels</mat-card-title>
        <mat-card-subtitle>Co-head of Design and Analysis</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/liam.jpg" alt="photo of liam" class="center">
      <mat-card-content>
        <p class=align>
          Description here...
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>TBD</mat-card-title>
        <mat-card-subtitle>Co-head of Design and Analysis</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/rawad.jpg" alt="photo of TBD" class="center">
      <mat-card-content>
        <p class=align>
          Description here...
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
  </mat-grid-list>

-->
<br>
<br>
<br>
</body>

<footer>

</footer>