<body>
  <h1 class=titles>What is WECCA?</h1>
  <p class=titles>
    The Western Engineering Concrete Canoe Association, also known as WECCA, is a team of talented and driven 
    students who come together each year to design and build a concrete canoe. Members participate in concrete mix design, 
    mold development, and canoe theme creation. All this culminates in the Canadian National Concrete Canoe Competition where 
    canoes from across the country are showcased and raced.
  </p>
  <hr style = "width:70%; height: 2px; color:rgb(138, 43, 226); background-color: rgb(138, 43, 226);">
  <h1 class=titles>Meet the Team</h1>

  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <img src="assets/execphotos/ethan.png" class ="gallery__img" alt="photo of ethan">
      <div class="text-image">
        Ethan Bodnar <br> Co-head of Software Development
      </div>
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img src="assets/execphotos/ethan.png" class ="gallery__img" alt="photo of ethan">
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img src="assets/execphotos/ethan.png" class ="gallery__img" alt="photo of ethan">
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img src="assets/execphotos/ethan.png" class ="gallery__img" alt="photo of ethan">
    </figure>
    <figure class="gallery__item gallery__item--5">
      <img src="assets/execphotos/ethan.png" class ="gallery__img" alt="photo of ethan">
    </figure>
    <figure class="gallery__item gallery__item--6">
      <img src="assets/execphotos/ethan.png" class ="gallery__img" alt="photo of ethan">
    </figure>
  </div>  

<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Will Stevenson</mat-card-title>
              <mat-card-subtitle>Construction Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/will.png" alt="photo of will" class="center">
            <mat-card-content>
              <p class=align>
                wecca.construction@gmail.com <br>
                I provide guidance for some exec positions, make sure we have inventory for the mixes and that we have time allocated for use of the structures lab,
                and make the bridge between industry and the club in order to ensure the canoe is constructed!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Megan Ginham</mat-card-title>
              <mat-card-subtitle>Logistics Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/megan.jpg" alt="photo of megan" class="center">
            <mat-card-content>
              <p class=align>
                wecca.logistics@gmail.com <br>
                My biggest responsibilities include recruitment, running the biweekly meetings, plan the logistics behind wecca going to competition, and basically help anyone in thrive in WECCA to their full extent!
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Sneha Patel</mat-card-title>
              <mat-card-subtitle>Finance Captain</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/sneha.jpg" alt="photo of sneha" class="center">
            <mat-card-content>
              <p class=align>
                wecca.sponsorship@gmail.com <br>
                I manage WECCA's finances and I fund our events.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Anuj Kulkarni</mat-card-title>
              <mat-card-subtitle>Co-head of Software Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/anuj.png" alt="photo of anuj" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Ethan Bodnar</mat-card-title>
              <mat-card-subtitle>Co-head of Software Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/ethan.png" alt="photo of ethan" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class="center1">
              <mat-card-title>Andrew Markham</mat-card-title>
              <mat-card-subtitle>Co-head of Materials</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/andrew.jpg" alt="photo of andrew" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Anthony De Rango</mat-card-title>
              <mat-card-subtitle>Co-head of Materials</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/anthony.png" alt="photo of anthony" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Lauren Andersen</mat-card-title>
              <mat-card-subtitle>Co-head of Mould</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/lauren.jpg" alt="photo of lauren" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Keston Anderson</mat-card-title>
              <mat-card-subtitle>Co-head of Mould</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/keston.png" alt="photo of keston" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Trevor Stone</mat-card-title>
              <mat-card-subtitle>Co-head of Research and Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/trevor.png" alt="photo of trevor" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Jericho Salvador</mat-card-title>
              <mat-card-subtitle>Co-head of Research and Development</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/jericho.png" alt="photo of jericho" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="captain">
            <mat-card-header class=center1>
              <mat-card-title>Kara Bjornson</mat-card-title>
              <mat-card-subtitle>Head of Technical Writing</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/execphotos/kara.png" alt="photo of kara" class="center">
            <mat-card-content>
              <p class=align>
                Description here...
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="captain">
          <mat-card-header class=center1>
            <mat-card-title>Sierra Goss</mat-card-title>
            <mat-card-subtitle>Head of Technical Presentation</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/execphotos/sierra.jpg" alt="photo of sierra" class="center">
          <mat-card-content>
            <p class=align>
              Description here...
            </p>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="captain">
        <mat-card-header class=center1>
          <mat-card-title>Sam Goertz</mat-card-title>
          <mat-card-subtitle>Training Coordinator</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/execphotos/sam.png" alt="photo of sam" class="center">
        <mat-card-content>
          <p class=align>
            Description here...
          </p>
        </mat-card-content>
      </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>Mac McGauley</mat-card-title>
        <mat-card-subtitle>Head of Graphic Design</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/mac.png" alt="photo of mac" class="center">
      <mat-card-content>
        <p class=align>
          Description here...
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>Liam Israels</mat-card-title>
        <mat-card-subtitle>Co-head of Design and Analysis</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/liam.jpg" alt="photo of liam" class="center">
      <mat-card-content>
        <p class=align>
          Description here...
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <mat-card class="captain">
      <mat-card-header class=center1>
        <mat-card-title>TBD</mat-card-title>
        <mat-card-subtitle>Co-head of Design and Analysis</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/execphotos/rawad.jpg" alt="photo of TBD" class="center">
      <mat-card-content>
        <p class=align>
          Description here...
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
  </mat-grid-list>
</body>
<footer>

</footer>